############
# Secrets - 모든 값을 변경하세요!
# ANON_KEY / SERVICE_ROLE_KEY 재생성:
#   https://supabase.com/docs/guides/self-hosting/docker#generate-api-keys
############

POSTGRES_PASSWORD=your-super-secret-and-long-postgres-password
JWT_SECRET=your-super-secret-jwt-token-with-at-least-32-characters-long

# JWT_SECRET 으로 서명된 키 (위 링크에서 생성)
ANON_KEY=<generated-anon-jwt>
SERVICE_ROLE_KEY=<generated-service-role-jwt>

DASHBOARD_USERNAME=supabase
DASHBOARD_PASSWORD=your-dashboard-password

SECRET_KEY_BASE=<openssl rand -base64 64>
VAULT_ENC_KEY=<exactly-32-characters-here>
PG_META_CRYPTO_KEY=<at-least-32-characters-here>

LOGFLARE_PUBLIC_ACCESS_TOKEN=<openssl rand -hex 20>
LOGFLARE_PRIVATE_ACCESS_TOKEN=<openssl rand -hex 20>

S3_PROTOCOL_ACCESS_KEY_ID=<openssl rand -hex 16>
S3_PROTOCOL_ACCESS_KEY_SECRET=<openssl rand -hex 32>


############
# URLs
############

SUPABASE_PUBLIC_URL=https://supa.jigu.dev
API_EXTERNAL_URL=https://supa.jigu.dev
SITE_URL=https://supa.jigu.dev
ADDITIONAL_REDIRECT_URLS=


############
# Database
############

POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432


############
# Supavisor
############

POOLER_PROXY_PORT_TRANSACTION=6543
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100
POOLER_TENANT_ID=supabase-jigu
POOLER_DB_POOL_SIZE=5


############
# Studio
############

STUDIO_DEFAULT_ORGANIZATION=My Organization
STUDIO_DEFAULT_PROJECT=My Project
OPENAI_API_KEY=


############
# Auth
############

JWT_EXPIRY=3600
DISABLE_SIGNUP=false

MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=admin@example.com
SMTP_HOST=supabase-mail
SMTP_PORT=2500
SMTP_USER=fake_mail_user
SMTP_PASS=fake_mail_password
SMTP_SENDER_NAME=Supabase
ENABLE_ANONYMOUS_USERS=false

ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true


############
# Storage
############

GLOBAL_S3_BUCKET=stub
REGION=stub
STORAGE_TENANT_ID=stub


############
# Functions
############

FUNCTIONS_VERIFY_JWT=false


############
# API (PostgREST)
############

PGRST_DB_SCHEMAS=public,storage,graphql_public


############
# Analytics
############

DOCKER_SOCKET_LOCATION=/var/run/docker.sock


############
# Kong API Gateway
############

KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443


############
# imgproxy
############

IMGPROXY_ENABLE_WEBP_DETECTION=true
